In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Admission_Predict.csv to Admission_Predict.csv

In [3]:
df = pd.read_csv('Admission_Predict.csv')

In [4]:
df.head()

,SerialNo,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
df.shape

(400, 9)

In [6]:
df.drop('SerialNo', axis = 1, inplace = True)

In [7]:
df= pd.get_dummies(df,columns = ['GRE Score'])

In [8]:
df.head()

,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE Score_290,GRE Score_293,GRE Score_294,...,GRE Score_331,GRE Score_332,GRE Score_333,GRE Score_334,GRE Score_335,GRE Score_336,GRE Score_337,GRE Score_338,GRE Score_339,GRE Score_340
0,118,4,4.5,4.5,9.65,1,0.92,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,107,4,4.0,4.5,8.87,1,0.76,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,104,3,3.0,3.5,8.00,1,0.72,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,110,3,3.5,2.5,8.67,1,0.80,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,103,2,2.0,3.0,8.21,0,0.65,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
x = df.drop('TOEFL Score', axis = 1)

In [10]:
x

,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE Score_290,GRE Score_293,GRE Score_294,GRE Score_295,...,GRE Score_331,GRE Score_332,GRE Score_333,GRE Score_334,GRE Score_335,GRE Score_336,GRE Score_337,GRE Score_338,GRE Score_339,GRE Score_340
0,4,4.5,4.5,9.65,1,0.92,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,4,4.0,4.5,8.87,1,0.76,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,3.0,3.5,8.00,1,0.72,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,3.5,2.5,8.67,1,0.80,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,2.0,3.0,8.21,0,0.65,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,3,3.5,3.5,9.04,1,0.82,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
396,3,3.0,3.5,9.11,1,0.84,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
397,4,5.0,4.5,9.45,1,0.91,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
398,3,3.5,4.0,8.78,0,0.67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
399,4,5.0,4.0,9.66,1,0.95,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [11]:
y = df['TOEFL Score']

In [12]:
y

0      118
1      107
2      104
3      110
4      103
      ...
395    110
396    107
397    116
398    103
399    117
Name: TOEFL Score, Length: 400, dtype: int64

In [13]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
x_scaled = mm.fit_transform(x)

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled, y, test_size = 0.3, random_state=1)

In [15]:
from sklearn.linear_model import LogisticRegression
lor = LogisticRegression()
lor.fit(x_train,y_train)

LogisticRegression()

In [16]:
pred = lor.predict(x_test)

In [17]:
pred

array([104, 100, 111, 111, 110, 108, 104, 105,  99, 120, 109, 112, 116,
       105, 110, 105, 111, 114, 107, 110, 103, 111, 111, 116, 110,  99,
       110, 107, 114, 106, 120, 105, 110, 110, 109, 107, 100, 105, 116,
       109, 114, 104, 114, 107, 118, 108, 110, 112, 103, 108, 108,  99,
       111, 109, 104, 112,  99, 105, 112, 110, 118, 110, 114, 110,  96,
       112, 114, 110, 100, 104, 111, 105, 109, 105, 113, 100, 110, 105,
       108, 102, 107, 114, 108, 107, 109, 108, 110, 118, 109, 110,  96,
       104, 109, 110,  99,  99, 110, 102, 113, 110, 110,  99, 105, 101,
       110, 110, 110, 105, 116, 110, 113,  99, 118, 105, 105, 100, 105,
       111, 107, 111])

In [18]:
y_test

398    103
125    100
328    112
339    107
172    110
      ...
91      97
322    107
248    110
186    107
395    110
Name: TOEFL Score, Length: 120, dtype: int64

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(pred, y_test)

0.15